@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html {
    font-size: 16px;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #090909ef, #000000);
}

.calculator {
    border: 0.0625rem solid #717377;
    padding: 1.25rem;
    border-radius: 1rem;
    background: transparent;
    box-shadow: 0 0.1875rem 0.9375rem rgba(113, 115, 119, 0.5);
    max-width: 25rem;
}

input {
    width: 100%;
    padding: 1rem;
    background: transparent;
    box-shadow: 0 0.1875rem 0.9375rem rgba(84, 84, 84, 0.1);
    font-size: 2.5rem;
    text-align: right;
    cursor: pointer;
    color: #ffffff;
    background-color: rgb(34, 66, 66);
    border-radius: 0.8125rem;
    border: 0.3125rem solid rgb(43, 192, 184);
}

input::placeholder {
    color: #ffffff;
}

button {
    border: none;
    width: 3.75rem;
    height: 3.75rem;
    margin: 0.625rem;
    border-radius: 50%;
    background: transparent;
    color: #ffffff;
    font-size: 1.25rem;
    box-shadow: -0.5rem -0.5rem 0.9375rem rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.equalbtn {
    background-color: #fb7c14;
}

.operator {
    color: #6dee0a;
}

.tushar {
    color: #ffffff;
    font-size: 0.625rem;
    margin-top: 0.625rem;
    margin-bottom: -0.9375rem;
    font-style: italic;
}
